* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;

  --u0: 4px;
  --u1: 8px;
  --u2: 12px;
  --u3: 16px;
  --u4: 24px;
  --u5: 32px;
  --u6: 48px;
  --u7: 64px;
  --u8: 96px;
  --u9: 128px;
  --u10: 192px;
  --u11: 256px;
  --u12: 384px;
  --u13: 512px;
  --u14: 640px;
  --u15: 768px;
  --u16: 960px;
  --u17: 1200px;

  --color-bg: #f1f1f1;
  --color-bg-alt: #e0e0e0;
  --color-border: #e0e0e0;

  --color-main: #646cff;
  --color-main-intense: #535bf2;
  --color-main-bleak: #a3a3ff;

  --color-text: #333;
  --color-text-light: #666;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  background-color: var(--color-bg);
  margin: 0;
  color: var(--color-text);
  font-size: 16px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input[type="text"] {
  outline: none;
}

button {
  border-radius: var(--u1);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.25s;

  &.primary {
    background-color: var(--color-main);
    color: white;

    &:hover {
      background-color: var(--color-main-intense);
    }

    &:disabled {
      background-color: var(--color-main-bleak);
      cursor: not-allowed;
    }
  }
}

main.app {
  display: flex;
  gap: var(--u3);
  /* height: 100vh; */
  padding: 0 var(--u3);
  overflow-x: auto;
  /* width: 100%; */

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.app .chat .messages {
  flex: 1;
  overflow-y: auto;
  padding: var(--u3);
}

.attach-wrapper {
  width: var(--u6);
  display: flex;
  align-items: center;
  justify-content: left;
}

.attach-wrapper a {
  display: flex;
  align-items: center;
  gap: var(--u1);
  color: var(--color-text-light);
  font-weight: 500;
  font-size: 1.4em;
  transition: color 0.25s;
}

.attach-wrapper a:hover {
  color: var(--color-text);
}

.attached img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--u0);
}

.message-form {
  margin-top: var(--u3);
  min-height: var(--u8);
  padding: var(--u3) var(--u2);
  border-top: 1px solid var(--color-border);
  // border-radius: var(--u1);
  // margin: 0 var(--u3) var(--u3) var(--u3);
  display: flex;
  flex-direction: column;

  .message-form-main {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  .message-form-footer {
    display: flex;
    gap: var(--u2);
    align-items: center;
  }

  .message-form-footer .attached {
    width: var(--u7);
  }

  textarea {
    width: 100%;
    height: 100%;
    font-size: 1em;
    font-family: inherit;
    resize: none;
    border: none;
    flex: 1;
  }

  button {
    background-color: var(--color-bg);
    font-weight: 500;
    text-transform: uppercase;
    margin-left: var(--u2);
    height: 100%;
    width: var(--u6);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button:hover {
    outline: none;
    background-color: var(--color-bg-alt);
  }

  button:disabled {
    background-color: var(--color-bg-alt);
    cursor: not-allowed;
  }
}

textarea:focus {
  outline: none;
}

.messages .message {
  margin-bottom: var(--u4);
  /* padding: var(--u2); */
  border-radius: var(--u1);
  padding: 0 var(--u2);

  .from {
    font-weight: 800;
    font-size: 0.8em;
    padding: var(--u0) var(--u1);
    background-color: var(--color-bg);
    display: inline-flex;
    margin-bottom: var(--u0);
    border-radius: var(--u0);
  }

  .message-image {
    width: var(--u8);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: var(--u0);
    }
  }

  // .content {
  //   white-space: pre-wrap;
  // }

  p:not(li p) {
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1.5;
    color: var(--color-text);
    margin-bottom: var(--u0);
  }

  li {
    white-space: normal;
  }

  code {
    background-color: var(--color-bg);
    padding: 2px var(--u0);
    border-radius: var(--u0);
  }

  pre {
    background-color: var(--color-bg);
    padding: var(--u2);
    border-radius: var(--u1);
    overflow-x: auto;

    code {
      background-color: transparent;
      padding: 0;
      border-radius: 0;
    }
  }

  ol {
    margin: 0;
  }
}

li p {
  margin: 0;
}

.message.error {
  padding: var(--u2);
  color: white;
  border-radius: var(--u1);
  background-color: #cc6464;
  border: 1px solid #a33;
  font-weight: 500;
}

.chat-starter {
  background: white;
  padding: var(--u3) var(--u5);
  border-radius: 16px;
  border: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 auto;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  ul li {
    margin-bottom: var(--u2);
    width: 100%;
  }

  ul li button {
    width: 100%;
    padding: var(--u2);
    border-radius: 8px;
    background-color: var(--color-bg);
    font-weight: 500;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul li button:hover {
    background-color: var(--color-bg-alt);
  }

  .chat-starter-vendor {
    margin-bottom: var(--u1);
    h3 {
      font-size: 1.2em;
      margin-bottom: var(--u1);
    }
  }
}

.home-page {
  margin: var(--u5) auto;
  max-width: var(--u17);

  h1 {
    font-weight: 400;
  }

  .dashboard-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--u3);
  }

  .dashboard {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: var(--u3);
    border-radius: var(--u1);
    width: var(--u10);
    height: var(--u8);
    margin-bottom: var(--u5);
    border: 1px solid var(--color-border);
    // transition: background-color 0.25s;
    // &:hover {
    //   background-color: var(--color-bg-alt);
    // }

    h3 {
      margin: 0;
      font-weight: 400;
      font-size: 1.6em;
      color: var(--color-text-light);
      margin-bottom: var(--u1);
    }
  }

  .db-form {
    display: flex;
    flex-direction: row;
    gap: var(--u2);
    width: 100%;
    max-width: var(--u12);
    background-color: white;
    padding: var(--u3);
    border-radius: var(--u1);

    input {
      padding: var(--u2);
      border-radius: var(--u1);
      border: 1px solid var(--color-border);
      font-size: 1em;
      flex: 1;
    }
  }
}

.db-menu {
  position: fixed;
  top: var(--u3);
  right: var(--u3);

  button {
    background-color: var(--color-main);
    color: white;
    border: none;
    display: flex;
    font-size: 1.6em;
    line-height: 1em;
    align-items: center;
    justify-content: center;
    width: var(--u5);
    height: var(--u5);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--u0);
    transition: background-color 0.25s;
    &:hover {
      background-color: var(--color-main-intense);
    }
    &:disabled {
      background-color: var(--color-main-bleak);
      cursor: not-allowed;
    }
  }
}

.chat-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: var(--u1);
  background-color: #fff;
  border: 1px solid var(--color-border);
  overflow: hidden;

  .top-menu {
    height: var(--u5);
    padding: 0 var(--u3);
    background-color: var(--color-main);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      gap: var(--u2);

      .profile-name {
        color: white;
        font-weight: 500;
        font-size: 0.8em;
      }
    }

    .right {
      display: flex;
      gap: var(--u2);
      align-items: center;

      .drag-handle {
        cursor: grab;
        color: white;
      }
    }
  }

  .body {
    flex: 1;
    overflow-y: hidden;

    .chat {
      // margin-top: var(--u3);
      // margin-bottom: var(--u3);
      width: 100%;
      height: 100%;
      flex: 0 0 auto;
      display: flex;
      flex-direction: column;
      position: relative;

      .chat-title {
        position: absolute;
        top: var(--u2);
        background-color: var(--color-main);
        color: white;
        padding: var(--u0) var(--u1);
        display: inline-block;
        right: 0;
        border-top-left-radius: var(--u1);
        border-bottom-left-radius: var(--u1);
        border-bottom: 1px solid var(--color-border);
        border-top: 1px solid var(--color-border);
        border-left: 1px solid var(--color-border);
        font-size: 0.8em;
      }
    }

    .widget {
      padding: var(--u3);
      overflow-y: auto;
      height: 100%;
    }

    .running {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      width: 100%;
      margin-top: var(--u3);
    }
  }
}

.react-grid-item.react-grid-placeholder {
  background: linear-gradient(
      90deg,
      rgba(0, 123, 255, 0.3) 1px,
      transparent 1px
    ),
    linear-gradient(rgba(0, 123, 255, 0.3) 1px, transparent 1px);
  background-size: 5px 5px; /* Even smaller 'net' size */
  border: 2px dashed rgba(0, 123, 255, 0.8); /* Blue dashed border */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.6); /* Stronger blue glow */
}

button.icon-button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--u3);
  height: var(--u3);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.25s;
  padding: 0;
  color: white;
  background-color: var(--color-main);

  &:hover {
    background-color: var(--color-main-intense);
  }
}

.widget {
  ol {
    margin: var(--u4) 0;
    padding-left: var(--u4);
    li {
      margin-bottom: var(--u2);
      position: relative;
      padding-left: var(--u1);
    }
  }
}

.widget-form {
  padding: var(--u3);

  form {
    width: 100%;
  }

  .form-item {
    display: flex;
    flex-direction: column;
    gap: var(--u0);
    margin-bottom: var(--u4);
  }

  input {
    padding: var(--u2);
    border-radius: var(--u0);
    border: 1px solid var(--color-border);
    font-size: 1em;
    flex: 1;
    width: 100%;
  }

  textarea {
    font-size: 1em;
    padding: var(--u2);
    border-radius: var(--u0);
    border: 1px solid var(--color-border);
    width: 100%;
    height: var(--u11);
  }
}

.loader {
  width: var(--u4);
  --b: var(--u0);
  aspect-ratio: 1;
  border-radius: 50%;
  background: #514b82;
  -webkit-mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg 70deg,
      #0000 71deg 90deg
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - var(--b) - 1px),
      #000 calc(100% - var(--b))
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l5 1s infinite;
}
@keyframes l5 {
  to {
    transform: rotate(0.5turn);
  }
}
